# 1. EXCLUIR EL JAVADOC
**/docs/JavaDoc/** linguist-detectable=false

# 2. EXCLUIR HTML/CSS SECUNDARIO
**/*.html linguist-detectable=false
**/*.css linguist-detectable=false

# 3. FORZAR LA DETECCIÓN DE JSP (Con su nombre oficial)
**/*.jsp linguist-language=Java-Server-Pages
**/*.jsp linguist-detectable=true

# 4. DETECTAR SQL
**/*.sql linguist-detectable=true
